In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Data = pd.read_csv("../Datasets/pixar_films new.csv")
Data.head()

,ID,film,film_rating,cinema_score,release_date,run_time,budget,box_office_us_canada,box_office_other,box_office_worldwide,rotten_tomatoes_score,rotten_tomatoes_counts,metacritic_score,metacritic_counts,imdb_score,imdb_counts
0,1,Toy Story,G,A,1995-11-22,81,30000000,223225679,171210907,394436586,100,96,95,26,8.3,1089101
1,2,A Bug's Life,G,A,1998-11-25,95,120000000,162798565,200460294,363258859,92,91,78,23,7.2,319596
2,3,Toy Story 2,G,A+,1999-11-24,92,90000000,245852179,265506097,511358276,100,172,88,34,7.9,630573
3,4,"Monsters, Inc.",G,A+,2001-11-02,92,115000000,255873250,272900000,528773250,96,199,79,35,8.1,1000657
4,5,Finding Nemo,G,A+,2003-05-30,100,94000000,339714978,531300000,871014978,99,270,90,38,8.2,1132877

In [3]:
Data.isnull().sum()

ID                        0
film                      0
film_rating               0
cinema_score              3
release_date              0
run_time                  0
budget                    0
box_office_us_canada      0
box_office_other          0
box_office_worldwide      0
rotten_tomatoes_score     0
rotten_tomatoes_counts    0
metacritic_score          0
metacritic_counts         0
imdb_score                0
imdb_counts               0
dtype: int64

In [4]:
Rate_Box_Office = Data[["film", "box_office_us_canada", "box_office_other", "box_office_worldwide"]]
Rate_Box_Office

,film,box_office_us_canada,box_office_other,box_office_worldwide
0,Toy Story,223225679,171210907,394436586
1,A Bug's Life,162798565,200460294,363258859
2,Toy Story 2,245852179,265506097,511358276
3,"Monsters, Inc.",255873250,272900000,528773250
4,Finding Nemo,339714978,531300000,871014978
5,The Incredibles,261441092,370001000,631442092
6,Cars,244082982,217900167,461983149
7,Ratatouille,206445654,417280431,623726085
8,WALL-E,223808164,297503696,521311860
9,Up,293004164,442094918,735099082
10,Toy Story 3,415004880,651964823,1066969703
11,Cars 2,191452396,368400000,559852396
12,Brave,237283207,301700000,538983207
13,Monsters University,268492764,475066843,743559607
14,Inside Out,356461711,501149463,857611174
15,The Good Dinosaur,123087120,209120551,332207671
16,Finding Dory,486295561,542275328,1028570889
17,Cars 3,152901115,231029541,383930656
18,Coco,210460015,604181157,814641172
19,Incredibles 2,608581744,634223615,1242805359
20,Toy Story 4,434038008,639356585,1073394593
21,Onward,61555145,80384897,141940042
22,Soul,946154,120957731,121903885
23,Luca,1324302,49788012,51112314
24,Turning Red,1399001,20414357,21813358
25,Lightyear,118307188,108118232,226425420
26,Elemental,154426697,342017611,496444308
27,Inside Out 2,652980194,1045050771,1698030965

In [5]:
Rate_Rotten_Tomatoes = Data[["film", "rotten_tomatoes_score", "rotten_tomatoes_counts"]]
Rate_Rotten_Tomatoes

                   film  rotten_tomatoes_score  rotten_tomatoes_counts
0             Toy Story                    100                      96
1          A Bug's Life                     92                      91
2           Toy Story 2                    100                     172
3        Monsters, Inc.                     96                     199
4          Finding Nemo                     99                     270
5       The Incredibles                     97                     250
6                  Cars                     75                     204
7           Ratatouille                     96                     253
8                WALL-E                     95                     261
9                    Up                     98                     297
10          Toy Story 3                     98                     313
11               Cars 2                     40                     220
12                Brave                     79                     256
13  Monsters University                     80                     203
14           Inside Out                     98                     387
15    The Good Dinosaur                     75                     220
16         Finding Dory                     94                     339
17               Cars 3                     69                     234
18                 Coco                     97                     357
19        Incredibles 2                     93                     390
20          Toy Story 4                     97                     459
21               Onward                     88                     350
22                 Soul                     95                     360
23                 Luca                     91                     303
24          Turning Red                     95                     289
25            Lightyear                     74                     319
26            Elemental                     73                     262
27         Inside Out 2                     90                     313

In [6]:
Rate_Metacritic = Data[["film", "metacritic_score", "metacritic_counts"]]
Rate_Metacritic

                   film  metacritic_score  metacritic_counts
0             Toy Story                95                 26
1          A Bug's Life                78                 23
2           Toy Story 2                88                 34
3        Monsters, Inc.                79                 35
4          Finding Nemo                90                 38
5       The Incredibles                90                 41
6                  Cars                73                 39
7           Ratatouille                96                 37
8                WALL-E                95                 39
9                    Up                88                 37
10          Toy Story 3                92                 39
11               Cars 2                57                 38
12                Brave                69                 37
13  Monsters University                65                 41
14           Inside Out                94                 55
15    The Good Dinosaur                66                 37
16         Finding Dory                77                 48
17               Cars 3                59                 41
18                 Coco                81                 48
19        Incredibles 2                80                 51
20          Toy Story 4                84                 57
21               Onward                64                 56
22                 Soul                83                 55
23                 Luca                71                 52
24          Turning Red                83                 52
25            Lightyear                60                 57
26            Elemental                58                 45
27         Inside Out 2                73                 59